<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/skeleton.css'>
    <title>Bookmarker</title>
  </head>

  <body>
    <header>
      <h1><span class='branding'>Bookmarker</span> &ndash; You Truly Belong Here With Us Among The Clouds</h1>
    </header>

    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/bookmarks'>Bookmarks</a></li>
        <li><a href='/bookmarks/new'>New Bookmark</a></li>
        <li><a href='/bookmarks/search'>Search Bookmark</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>