body {
    background: #FFFFFF url("/images/NEPYU1mObMmrTS_2_b.jpg") no-repeat;
    background-size: 100%;
    color: black;

    width: 25%;
    padding: 10px;
}

a:link {
    color: #000000;
}


a:visited {
    color: #000000;
}

a {
  font: 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

header {
animation: pulse 9s;
background: #EEEEEE;
margin: 0 auto;
overflow: hidden;
padding: 0 15px;
width: 1000px;
}

nav {
background: #FFFFFF;
margin: 0 auto;
overflow: hidden;
padding: 0 15px;
width: 1000px;
}

p {
  background: #EEEEEE;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 15px;
  width: 100%;
  }

li
{
display: inline;
list-style-type: none;
}
