<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.url %>
      <a href="/bookmarks/<%= bookmark.id %>/edit">edit</a>
      <form method="post" action="/bookmarks/<%= bookmark.id %>/delete">
        <button>delete</button>
      </form>
    </li>
  <% end %>
</ul>