<form action='/bookmarks' method='post'>
  <dl>
    <dt><label for='url'>URL :</label></dt>
    <dd><input id='url' type='varchar(255)' name='bookmark[url]' autofocus></dd>
    <dt><label for='genre'>Genre :</label></dt>
    <dd><input id='genre' type='text' name='bookmark[genre]' </dd>
    <dt><label for='title'>Title :</label></dt>
    <dd><input id='title' type='text' name='bookmark[title]' </dd>
    <dt><label for='details'>Details :</label></dt>
    <dd><input id='details' type='text' name='bookmark[details]' </dd>

  </dl>
  <button>Add Bookmark</button>
</form>